[Desktop Entry]
Name=KPrinter4
Name[de]=KPrinter4
Name[x-test]=xxKPrinter4xx
GenericName=PostScript printing
GenericName[de]=PostScript-Dokumente drucken
GenericName[x-test]=xxPostScript printingxx
Exec=kprinter4
Icon=kprinter4
Type=Application
MimeType=application/postscript;
Categories=Qt;KDE;System;
Terminal=false
Comment=Print PostScript documents with KDE print dialog
Comment[de]=PostScript-Dokumente mit Hilfe des KDE Druck-Dialogs drucken
Comment[x-test]=xxPrint PostScript documents with KDE print dialogxx
